* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
  background-color:{{theme.body_background_color.color}};
    font-family: {{ theme.font.font }};
}


header {
    padding: 1rem;
    background-color: {{ theme.h_background_color.color }};
    border-bottom: 1px solid #aaaaaa;
    padding:2%; 
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.header-desc {
    margin: 1rem 0 2rem;
}

.hs-menu-wrapper ul {
    list-style: none;
    padding: 0;
    margin-bottom: 1rem;
    display: flex;
}

.hs-menu-wrapper ul li {
    margin-right: 1rem;
}

.hs-menu-wrapper ul li a {
    text-decoration: none;
    color:{{ theme.menu_color.color }};
}
.hs-menu-wrapper ul li.active-branch > a {
    color: {{ theme.menu_color.color }} !important;
    font-weight: bold;
}

.hs-menu-wrapper ul li a:hover {
    text-decoration: underline;
}

.modular-section {
    display:flex;
    align-items:center;
    justify-content:center;
    margin:20px;
    opacity: 0; 
    animation: modularFadeIn 2s ease-in forwards;
}

.modular-section img {
  border-radius:10px;
  box-shadow: 3px 7px 7px rgba(0.5, 0.5, 0.5, 0.5);
}

@keyframes modularFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

footer {
    padding: 1rem;
    background-color: {{ theme.f_background_color.color }};
    border-bottom: 1px solid #aaaaaa;
    padding:2%; 
    display:flex;
    flex-direction:column;
    justify-content:center;
    
}