.center-leader {
  display:flex;
  justify-content:center;
  align-items:center;
  margin:3% 0;
}

.grid-leader {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin:20px;
    column-gap: 50px;
    row-gap: 55px;
    opacity: 0; 
    animation: fadeIn 3s ease-in forwards;
}

.content-leader {
 padding:10px;
}

.flex-leader {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.image-leader {
    width: 400px; 
    height: 270px; 
    overflow: hidden; 
    position: relative;
      border-radius: 10px;
    box-shadow: 0 5px 5px rgba(0.5, 0.5, 0.5, 0.5);

}

.image-leader img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
        border-radius: 10px;

}
@media screen and (max-width: 900px) {
    .grid-leader {
        grid-template-columns: repeat(2, 1fr);
    }
  
      .image-leader {
        width: 100%; 
        height: 200px; 
    }
}


@media screen and (max-width: 500px) {
    .grid-leader {
        grid-template-columns: repeat(1, 1fr);
    }
  
      .image-leader {
        width: 100%; 
        height: 200px; 
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
