<div class="center-leader">
  <div class="grid-leader">
            {% for item in module.team_field %}
  <div class="flex-leader">
      <div class="image-leader">
	{% if item.image_leader.src %}
		{% set sizeAttrs = 'width="{{ item.image_leader.width|escape_attr }}" height="{{ item.image_leader.height|escape_attr }}"' %}
		{% if item.image_leader.size_type == 'auto' %}
			{% set sizeAttrs = 'width="{{ item.image_leader.width|escape_attr }}" height="{{ item.image_leader.height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
		{% elif item.image_leader.size_type == 'auto_custom_max' %}
			{% set sizeAttrs = 'width="{{ item.image_leader.max_width|escape_attr }}" height="{{ item.image_leader.max_height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
		{% endif %}
		 {% set loadingAttr = item.image_leader.loading != 'disabled' ? 'loading="{{ item.image_leader.loading|escape_attr }}"' : '' %}
		<img src="{{ item.image_leader.src|escape_url }}" alt="{{ item.image_leader.alt|escape_attr }}" {{ loadingAttr }} {{ sizeAttrs }}>
	{% endif %}
      </div>
          <div class="content-leader">
            {% inline_text field="text_name" value="{{ item.text_name }}" %}
              {% inline_text field="text_desc" value="{{ item.text_desc }}" %}
            </div>
  </div>
      {% endfor %}
</div>
</div>


