<div class="img-text-flex">
  <div class="icon-img">
  {% if module.image_field.src %}
	{% set sizeAttrs = 'width="{{ module.image_field.width|escape_attr }}" height="{{ module.image_field.height|escape_attr }}"' %}
	{% if module.image_field.size_type == 'auto' %}
		{% set sizeAttrs = 'width="{{ module.image_field.width|escape_attr }}" height="{{ module.image_field.height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
	{% elif module.image_field.size_type == 'auto_custom_max' %}
		{% set sizeAttrs = 'width="{{ module.image_field.max_width|escape_attr }}" height="{{ module.image_field.max_height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
	{% endif %}
	 {% set loadingAttr = module.image_field.loading != 'disabled' ? 'loading="{{ module.image_field.loading|escape_attr }}"' : '' %}
	<img src="{{ module.image_field.src|escape_url }}" alt="{{ module.image_field.alt|escape_attr }}" {{ loadingAttr }} {{ sizeAttrs }}>
{% endif %}
</div>
 <div id="timer-20c">00:20</div>

<div>
</div>
</div>
<video id="myVideo">
  <source src="https://48134754.fs1.hubspotusercontent-na1.net/hubfs/48134754/acf74a63-1be6-4a57-81a4-817ab7512d76.mp4">
  Your browser does not support the video tag.
</video>
<br>
<button id="playButton">Play Video</button>
<button id="muteButton">Mute</button>
<img src="https://img.icons8.com/?size=25&id=12915&format=png&color=000000" alt="speaker-icon">


<!--  
https://48134754.fs1.hubspotusercontent-na1.net/hubfs/48134754/The%20Kirribili%20comp.mp4
https://img.icons8.com/?size=100&id=12915&format=png&color=000000
https://48134754.fs1.hubspotusercontent-na1.net/hubfs/48134754/acf74a63-1be6-4a57-81a4-817ab7512d76.mp4
-->



